<?xml version="1.0"?>


<launch>
	<arg name="dist_min" />
	<arg name="angle" />
	<arg name="vitesse_linear_x" />
	<arg name="vitesse_linear_y" />
	<arg name="vitesse_linear_z" />
	<arg name="vitesse_angular_x" />
    	<arg name="vitesse_angular_y" />
    	<arg name="vitesse_angular_z" />
    
	<group ns="EviderObstacle">
        	<node pkg="auto_bateau" type="detect_obst.py" respawn="false" name="ObstacleDetect" launch-prefix="xterm -e" output="screen">
            
            		<param name="dist_min" value="$(arg dist_min)" />
	    		<param name="angle" value="$(arg angle)" />

        	</node>
        
       		<node pkg="auto_bateau" type="avoid_obst.py" respawn="false" name="EviderObstacle" launch-prefix="xterm -e" output="screen">
      		
			<param name="vitesse_linear_x" value="$(arg vitesse_linear_x)" />
			<param name="vitesse_linear_y" value="$(arg vitesse_linear_y)" />
			<param name="vitesse_linear_z" value="$(arg vitesse_linear_z)" />
            		<param name="vitesse_angular_x" value="$(arg vitesse_angular_x)" />
			<param name="vitesse_angular_y" value="$(arg vitesse_angular_y)" />
			<param name="vitesse_angular_z" value="$(arg vitesse_angular_z)" />
            
       		</node>
        
    	</group>

    	<node pkg="auto_bateau" type="mavros" respawn="false" name="mavros" launch-prefix="xterm -e" output="screen"/>
 
    	<node pkg="auto_bateau" type="main.py" respawn="false" name="main_fonction" launch-prefix="xterm -e" output="screen"/>
 
    	<node pkg= "auto_bateau" type="vision.py" respawn="false" name="vision_result" launch-prefix="xterm -e" output="screen"/>
 
   
</launch>


#To run this launchfiles, use the commande line: roslaunch package-name launch-file-name
# => roslaunch auto_bateau autobateau.launch
